<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registeremployee</servlet-name>
        <servlet-class>RegisterEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginEmployee</servlet-name>
        <servlet-class>CheckLoginEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ritika</servlet-name>
        <servlet-class>ritika</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registeremployee</servlet-name>
        <url-pattern>/RegisterEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginEmployee</servlet-name>
        <url-pattern>/CheckLoginEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>CountUsersListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>ritika</servlet-name>
        <url-pattern>/ritika</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
